<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<ul>
  <li><a href="/"> Home </a></li>
  <li><a href="/articles"> Articles </a></li>
  <li><a href="/tags"> Tags </a></li>
  <% if logged_in?%>
  <li><a href="/authors"> Authors </a></li>
  <%end%>
</ul>
</header>
  <p class="flash">
    <%= flash.notice %>
  </p>
  <div id="container">
    <div id="content">
      <%= yield %>
      <hr>
      <h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= button_to "Logout", logout_path, :metod => delete%>
        <% else %>
          <%= link_to "(login)", login_path%>
          <%= link_to "Create an account? Sign UP!", new_user_path%>
        <% end %>
      </h6>
    </div>
  </div>
</body>
</html>
